body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

.landing-container {
    text-align: center;
    padding: 50px;
}

.header-bar {
    height: 10px;
    background: linear-gradient(to right, #cd853f 33%, #d2b48c 33%, #808000 67%, #eee8aa 67%);
}

.content h1 {
    font-size: 2em;
    margin: 20px 0;
}

.content h2 {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

.divider {
    width: 50px;
    height: 3px;
    background-color: #aaa;
    margin: 20px auto;
}

.main-text {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: bold;
}

.content p {
    font-size: 0.9em;
    margin: 10px 0;
}
.message {
    background-color: #fdf1e0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.message ul {
    list-style-type: disc;
    margin-left: 20px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 13px;
}

.symbol {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    flex: 1 1 100px; /* Ajusta ancho mínimo */
}

.symbol::before {
    display: inline-block;
    width: 20px;
    text-align: center;
}
.node {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f0ad4e;
  color: #234;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.integranteNode {
  margin: 5px 0;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.connection {
  margin-left: 20px;
}

.department {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffecb3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subdepartment {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: #eef;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #aaa;
    margin-left: 20px;
    position: relative;
  }
  
  .icon {
    font-size: 18px;
  }
  
  .integrantes {
    margin-top: 10px;
  }
.hidden {
  display: none;
}

.icon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 18px;
}

.toggle-button {
  cursor: pointer;
  color: #fff;
  background-color: #cd853f; /* Cambia el color a uno más contrastante */
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.toggle-button:hover {
  background-color: #b27330; /* Color al pasar el mouse */
}

.toggle-icon {
  margin-right: 5px;
}

.expanded .toggle-icon {
  transform: rotate(90deg);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .email {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .email-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Asegura que ocupe el ancho completo */
  }
  
  .node {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0ad4e;
    color: #234;
    border-radius: 8px;
  }

  .download-button {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .download-button .btn {
    background-color: #cd853f; /* Ajusta al color deseado */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .download-button .btn:hover {
    background-color: #b27330; /* Cambia el color al pasar el mouse */
  }

  @media (max-width: 600px) {
    .legend {
        flex-direction: column;
        align-items: center;
    }
}